In [1]:
import pandas as pd
FP = "data/Credit Score Classification Dataset.csv"
df = pd.read_csv(FP, index_col=None)
df[['Gender','Education', 'Marital Status', 'Own', 'Credit Rating']].value_counts().reset_index()

    Gender            Education Marital Status     Own Credit Rating  count
0   Female            Doctorate        Married   Owned          High     24
1   Female    Bachelor's Degree        Married   Owned          High     20
2     Male      Master's Degree         Single   Owned          High     15
3     Male      Master's Degree        Married   Owned          High     14
4     Male   Associate's Degree         Single  Rented       Average     10
5   Female  High School Diploma         Single  Rented           Low     10
6   Female    Bachelor's Degree         Single  Rented       Average      8
7     Male    Bachelor's Degree         Single  Rented       Average      6
8   Female      Master's Degree        Married   Owned          High      6
9     Male  High School Diploma         Single  Rented       Average      5
10    Male  High School Diploma         Single   Owned          High      5
11    Male  High School Diploma        Married   Owned          High      5
12    Male            Doctorate         Single   Owned          High      5
13  Female   Associate's Degree         Single  Rented       Average      5
14    Male    Bachelor's Degree        Married   Owned          High      5
15  Female   Associate's Degree         Single  Rented           Low      5
16    Male   Associate's Degree        Married   Owned          High      5
17  Female  High School Diploma        Married   Owned          High      5
18    Male    Bachelor's Degree        Married  Rented          High      1
19    Male            Doctorate         Single  Rented          High      1
20  Female            Doctorate        Married   Owned       Average      1
21  Female    Bachelor's Degree         Single  Rented          High      1
22  Female    Bachelor's Degree        Married   Owned       Average      1
23    Male      Master's Degree         Single  Rented          High      1