# Univariate Test Development Lab

In [1]:
import pandas as pd
from explorer.service.io import IOService
from scipy import stats

In [2]:
FP = "data/Credit Score Classification Dataset.csv"

In [3]:
df = IOService.read(FP, index_col = None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             164 non-null    int64
 1   Gender          164 non-null    object
 2   Income          164 non-null    int64
 3   Education       164 non-null    object
 4   Marital Status  164 non-null    object
 5   Children        164 non-null    int64
 6   Own             164 non-null    object
 7   Credit Rating   164 non-null    object
dtypes: int64(3), object(5)
memory usage: 10.4+ KB

In [4]:
data = df['Education']
observed = data.value_counts(sort=True, ascending=False).to_frame().sort_index()
observed.values
expected = observed
expected['count'] = observed['count'].sum() / 5
expected

array([[25],
       [42],
       [31],
       [30],
       [36]])

                     count
Education
Associate's Degree   32.80
Bachelor's Degree    32.80
Doctorate            32.80
High School Diploma  32.80
Master's Degree      32.80

In [5]:
dexp = expected.to_dict()
dfexp = pd.DataFrame.from_dict(data=dexp, orient='index').sort_index().values
dfexp

array([[32.8, 32.8, 32.8, 32.8, 32.8]])

In [6]:
x = df['Income']
stats.chi2.fit(x)

(0.0004830080417547087, 27499.999999999993, 3.815321163707919)